:root {
	--color-Error : rgb(214, 55, 27);
	--color-Valid : #00bd3f;
	--color-Primary : #ffa619;
	--color-Secondary : #00007f;
	--color-Font-light : #ffe4b9;
	--color-Font-dark : #00001f;

	--font-type : monospace;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: var(--color-Secondary);
	font-family: var(--font-type);
}

a {
	color: var(--color-Font-dark);
}

a:hover {
	color: var(--color-Font-light);
}

.headerbar {
	height: 100px;
	border-style: groove;
	padding: 1%;
	background-color: var(--color-Primary);
}

.button {
	padding: 5px 10px;
    border: 3px outset;
    border-radius: 10px;
}

.button:hover {
	border: 3px inset;
	cursor: pointer;
}

.valid-back {
	background-color: var(--color-Valid);
}

.error-back {
	background-color: var(--color-Error);
}

.valid-border {
	border-color: var(--color-Valid);
}
.valid-border:hover {
	border-color: var(--color-Valid);
}

.error-border {
	border-color: var(--color-Error);
}
.error-border:hover {
	border-color: var(--color-Error);
}

.valid-font {
	color: var(--color-Valid);
}

.error-font {
	color: var(--color-Error);
}